@import url(/modules/css/config.less);

.recom-teacher {
  ul {
    li {
      width: 250px;
      height: 330px;
      float: left;
      margin-left: 22px;
      &:first-child {
        margin-left: 0;
      }
      span {
        display: block;
        text-align: center;
      }
      .img {
        height: 293px;
      }
    }
  }

  .title-bar {
    span {
      border-bottom: 1px solid #8fc31f;
    }
  }
}