<div class="recom-course lo-home" id="recom-course">
    <h2 class="title-bar">
        <span>课程推荐</span>
    </h2>
    <ul class="lo-home">
        <li v-for="(item, index) in rows">
            <a href="#">
                <img v-bind:src="item.picUrl" class="img"/>
                <div class="sub-info">
                    <span class="type">{{item.mode}}</span>
                    <span class="rc-title">{{ item.topic }}</span>
                    <span class="play-num">123</span>
                    <div class="comment-num">{{item.attention}}</div>
                </div>

                <div class="bom-info">
                    主讲: {{item.teacher.name}} | {{item.teacher.about}}
                    <span v-if="item.minCost" class="fee">￥{{item.minCost}}</span>
                    <span v-if="!item.minCost" class="fee">免费</span>
                </div>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="#">-->
                <!--<img src="/widget/course/img/1.jpg" class="img"/>-->
                <!--<div class="sub-info">-->
                    <!--<span class="type">视频</span>-->
                    <!--<span class="rc-title">幼儿英语启蒙</span>-->
                    <!--<span class="play-num">123</span>-->
                    <!--<div class="comment-num">1234</div>-->
                <!--</div>-->

                <!--<div class="bom-info">-->
                    <!--主讲: 赵老师 | 教育之星-->
                    <!--<span class="fee">免费</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="#">-->
                <!--<img src="/widget/course/img/2.jpg" class="img"/>-->
                <!--<div class="sub-info">-->
                    <!--<span class="type">视频</span>-->
                    <!--<span class="rc-title">幼儿英语启蒙</span>-->
                    <!--<span class="play-num">123</span>-->
                    <!--<div class="comment-num">1234</div>-->
                <!--</div>-->

                <!--<div class="bom-info">-->
                    <!--主讲: 赵老师 | 教育之星-->
                    <!--<span class="fee">免费</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li>-->
            <!--<a href="#">-->
                <!--<img src="/widget/course/img/3.jpg" class="img"/>-->
                <!--<div class="sub-info">-->
                    <!--<span class="type">视频</span>-->
                    <!--<span class="rc-title">幼儿英语启蒙</span>-->
                    <!--<span class="play-num">123</span>-->
                    <!--<div class="comment-num">1234</div>-->
                <!--</div>-->

                <!--<div class="bom-info">-->
                    <!--主讲: 赵老师 | 教育之星-->
                    <!--<span class="fee">免费</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</div>

<script>
    require.async('./course.js', function(app){
        app.init();
    });
</script>