<div class="recom-course lo-home slider-outer" id="recom-course" data-ox="40">
    <h2 class="title-bar">
        <span>课程推荐</span>
    </h2>

    <div class="tl-btn-container" v-if="rows.length>=3">
        <a class="tl-forward tl-btn">
            <span class="tl-right-arrow"></span>
        </a>
        <a class="tl-backward tl-btn disabled">
            <span class="tl-left-arrow"></span>
        </a>
    </div>

    <div class="slider-wrapper">
        <ul class="slider-el lo-home cf" v-bind:style="'width:'+(rows.length*430-40) + 'px'">
            <li v-for="(item, index) in rows">
                <a href="#">
                    <img v-bind:src="item.picUrl" class="img"/>
                    <div class="sub-info">
                        <span class="type">{{item.topic.topic}}</span>
                        <span class="rc-title">{{ item.name }}</span>
                        <span class="play-num">123</span>
                        <div class="comment-num">{{item.attention}}</div>
                    </div>

                    <div class="bom-info">
                        主讲: {{item.teacher.name}} | {{item.teacher.about}}
                        <span v-if="item.minCost" class="fee">￥{{item.minCost}}</span>
                        <span v-if="!item.minCost" class="fee">免费</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>
    require.async('./course.js', function(app){
        app.init();
    });
</script>